* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    font-family: "Space Grotesk", sans-serif;
}

.skip-link {
    display: block;
    position: absolute;
    top: 0;
    left: 1%;
    padding: 10px 15px;
    font-size: 2rem;
    color: #ffffff;
    background: #1A1E42;
    transform: translateY(-100%);
}

.skip-link:focus {
    transform: translateY(20%);
}


header {
    font-family: "Montserrat", sans-serif;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 18px 16px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.fix_width {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0;
    text-align: center;
}

.language {
    display: none;
}

.logo {
    display: flex;
    color: #1A1E42;
    font-size: 3rem;
    font-weight: 600;
    align-items: center;
}

.nav_button {
    height: 40px;
    margin-left: auto;

}

.nav_hidden {
    display: none;
}

.header_right {
    display: none;
}

.container_1 {
    background-color: #FFFFFF;
    padding: 40px 16px;
    display: flex;
    flex-direction: column;


}

.container_1 h2 {
    font-size: 4.8rem;
}


.text-bluepart {
    color: #1A1E42;
}

.text-orangepart {
    color: #a46400;
}

.container1_maintext {
    margin-top: 24px;
    font-size: 1.8rem;
    color: #1A1E42;
    opacity: 0.8;
}

.container1_unlock_wallet {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 24px;
    background-color: #F7931A;
    border: 0;
    border-radius: 4px;
    color: #000000;
    width: 100%;
    margin-bottom: 48px;
    margin-top: 48px;
}

.text_near_grid_wallets {
    color: #1A1E42;
    font-size: 1.6rem;

}

.container1_grid_wallets {
    display: grid;
    grid-template-columns: repeat(2, 170px);
    gap: 18px;
    margin-top: 16px;
    margin-bottom: 16px;

}

.grid_2_stock {
    padding: 40px 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 38px;



}

.grid_line {
    background-color: #F9FAFB;
}

.grid_2_stock img {
    max-width: 100%;
}

#line_margin {
    margin-top: 48px;
}

.container_2 {
    background-color: #1A1E42;
    padding: 60px 16px;
    display: flex;


}

.line {
    width: 48px;
    border: none;
    border-top: 2px solid #F7931A;
}

.container2_headtext {
    margin-top: 12px;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 4.4rem;
}

.container2_maintext {
    color: #D0D5DD;
    font-size: 1.8rem;
    margin-bottom: 48px;
}

.card {
    background-color: #2A2D51;
    border-radius: 8px;
    padding: 32px;
    height: 294px;
}

.container2_grid_1 {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(1, 360px);
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;

}

.container2_grid_1 h4 {
    color: #FFFFFF;
    font-size: 2.2rem;
    margin-bottom: 12px;
}

.container2_grid_1 p {
    color: #D0D5DD;
    font-size: 1.6rem;
}

.container2_grid_1 img {
    margin-bottom: 24px;
}

.container_3 {
    padding-top: 60px;
    padding-left: 16px;
    padding-right: 16px;
}

.container_3 h4 {
    padding-top: 12px;
    padding-bottom: 32px;
    font-size: 4.4rem;
    white-space: pre-line;
    color: #1A1E42;
}

.container_3 p {
    color: #1A1E42;
    opacity: 0.8;
    font-size: 1.8rem;
}

#upper_text {
    padding-bottom: 30px;
}

.container_3 a {
    display: block;
    color: #F7931A;

    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 48px;

}

#lower_text {
    margin-bottom: 16px;
}

#koshelek2 {
    margin-bottom: 60px;
}

.container2_Unlock_wallet_card {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 24px;
    background-color: #F7931A;
    border: 0;
    border-radius: 4px;
    color: #000000;
    width: 100%;
    align-self: center;
}

.number {
    background-color: #2A2D51;
    color: #FFFFFF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-bottom: 20px;
    width: 48px;
    min-width: 48px;
    height: 48px;
}


.container_4 {
    background-color: #1A1E42;
    padding: 60px 16px;
}

.container_4 h4 {
    color: #FFFFFF;
    font-size: 4.4rem;
    margin-top: 12px;
    margin-bottom: 16px;
}

.container4_headtext {
    margin-top: 12px;
    margin-bottom: 16px;
    color: #FFFFFF;
    font-size: 4.4rem;
}

.container_4 span {
    color: #D0D5DD;
    font-size: 1.8rem;
}

.container_4 p {
    color: #D0D5DD;
    font-size: 1.6rem;
}


.container4_Unlock_wallet_card {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 24px;
    background-color: #F7931A;
    border: 0;
    border-radius: 4px;
    color: #000000;
    width: 100%;
}

.container4_grid_1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;

}

.container4_grid_second {
    display: grid;
    grid-template-columns: repeat(1, 360px);
    gap: 24px;
    margin-top: 48px;
    margin-bottom: 48px;
    justify-content: center;

}

.container4_grid_second h5 {
    color: #FFFFFF;
    font-size: 2.2rem;
    margin-bottom: 12px;
}

.container4_grid_second p {
    color: #D0D5DD;
}

.container4_grid_second img {
    margin-bottom: 24px;
}

.container4_grid_1 h5 {
    color: #FFFFFF;
    font-size: 2.2rem;
    margin-bottom: 12px;
}

.container4_grid_1 p {
    color: #D0D5DD;
}

.container4_grid_1 img {
    margin-bottom: 24px;
}

.container_5 {
    padding: 60px 16px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;
}

.container_5 h4 {
    color: #1A1E42;
    font-size: 4.4rem;
    margin-right: 16px;
}

.container_5 hr {
    margin-right: 16px;
}

.stars_cards {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    overflow: hidden;

}

.button_right {
    display: none;
}

.button_left {
    display: none;
}


.star_card {
    height: 530.5px;
    width: 320px;
    min-width: 320px;
    background-color: #FFFFFF;
    overflow: hidden;
    margin-top: 48px;
    margin-bottom: 48px;
    border-radius: 8px;
    margin-right: 20px;
}

.container_5 span {
    font-size: 1.8rem;
    opacity: 0.8;
    color: #1A1E42;
    margin-top: 16px;
    text-align: center;
    margin-right: 16px;


}

.img_stars {
    margin-top: 24px;
    margin-left: 24px;

}

.star_card p {
    color: #667085;
    font-size: 1.8rem;
    margin: 24px 24px;
}

.star_card h5 {
    color: #1A1E42;
    margin-left: 24px;
    font-size: 1.8rem;
    margin-top: 50px;
}

.mobile_hidden {
    display: none;
}

.container5_button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.8rem;
    padding: 10px 24px;
    background-color: #00B67A;
    border: 0;
    border-radius: 4px;
    color: #000000;
    width: 93%;
    font-weight: bold;
    margin-right: 16px;
}

.container5_button img {
    margin-left: 5px;
    margin-right: 5px;
}

.grid_container {
    display: flex;
    align-items: center;
}

.grid_container p {
    color: #1A1E42;
    font-size: 1.6rem;
    margin-left: 5px;
}

.container_6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    padding: 60px 16px;
}

.container_6 h4 {
    color: #1A1E42;
    font-size: 4.4rem;
    font-weight: bold;
    padding-top: 16px;
    padding-bottom: 16px;
}

.container_6 span {
    font-size: 1.8rem;
    opacity: 0.8;
    color: #1A1E42;
    margin-top: 16px;
    text-align: center;


}

.img_right_1 {
    display: flex;
    justify-content: center;
}

.container_6_grid {
    margin-top: 48px;
    margin-bottom: 48px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;

}

.container6_name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
}

.container_6_avatar {
    border-radius: 50%;
    margin-right: 10px;
}

.container6_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.container6_time {
    text-align: right;
    margin-left: auto;
}

.container6_info p {
    color: #1A1E42;
    font-size: 1.6rem;
}

.container_6_card a {
    color: #1A1E42;
    font-size: 2.2rem;
    font-weight: bold;
    text-decoration: none;

}

.container_6_photo {
    border-radius: 5px;
    width: 100%;
}

.container_6_card {
    max-width: 360px;
}

.flex_url_arrow h5 {
    display: flex;
    font-size: 2.2rem;
    color: #1A1E42;

}

.flex_url_arrow {
    display: flex;
}

.footer_contacts_img {
    display: none;
}

* {
    box-sizing: border-box;
}

.container_6_button {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 10px 24px;
    background-color: #F7931A;
    border: 0;
    border-radius: 4px;
    color: #000000;
    width: 100%;

}

.container_7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9FAFB;
    padding: 60px 16px;
}

.container_7 h4 {
    color: #1A1E42;
    font-size: 4.4rem;
    font-weight: bold;
    padding-top: 16px;
    margin-bottom: 48px;
}

summary h5 {
    font-size: 2.2rem;
    color: #1A1E42;
    font-weight: 500;
}

summary img {
    margin-left: auto;
}

details summary {
    display: flex;
    justify-content: space-between;
    color: #1A1E42;
    font-size: 2.2rem;
    font-weight: 400;
    list-style: none;
}

details p {
    font-size: 1.8rem;
    opacity: 0.8;
    color: #1A1E42;
    line-height: 2;
    margin-top: 8px;

}

.details_container {
    display: grid;
    gap: 32px;
}


.container_8 {
    padding: 60px 16px;
}

.container_8 hr {
    margin-bottom: 12px;

}

.pc_hidden {
    display: flex;
    gap: 16px;
    margin-top: 24px;
}

.pc_hidden a {
    text-decoration: none;
    color: #475467;
    font-size: 1.6rem;
    font-weight: bold;
}

.container_8 h4 {
    font-weight: bold;
    font-size: 4.4rem;
    color: #1A1E42;
    margin-bottom: 16px;
}

.no_working_margin {
    opacity: 0.8;
    font-size: 1.8rem;
    color: #1A1E42;

}



.list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 32px;
    padding-bottom: 48px;
}

.list__item {
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 1.8rem;
    color: #1A1E42;
    opacity: 0.8;
}

.list__item:last-child {
    align-items: start;
}

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_8_askcard {
    padding: 32px 24px;
    background-color: #1A1E42;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container_8_askcard img {
    margin-bottom: 24px;

}

.container_8_askcard h5 {
    font-size: 2.2rem;
    font-weight: 600;
    color: #FFFFFF;
    margin-bottom: 40px;
    text-align: center;

}

.container_8_button_grid {
    display: grid;
    gap: 12px;
}

.container_8_button_grid button {
    padding: 16px 14px;
    border-radius: 8px;
    font-size: 1.6rem;
    color: #1A1E42;
    border: 0;

}

.contacts {
    padding: 32px 24px;
    background-color: #1A1E42;
    border-radius: 8px;
}

.contacts_avatar {
    border-radius: 8px;
    width: 160px;
    height: 160px;
    margin-bottom: 32px;
}


.container_9 {
    padding: 60px 16px;
    background: linear-gradient(to bottom, #FFFFFF 50%, #F2F4F7 50%);
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.contacts h5 {
    color: #FFFFFF;
    font-size: 4.4rem;
    margin-bottom: 16px;

}

.contacts h6 {
    color: #D0D5DD;
    font-size: 2.2rem;
    font-weight: 400;
}

.contacts_1 {
    margin-bottom: 24px;
}

.contacts a {
    color: #D0D5DD;
    font-size: 2.2rem;
    font-weight: 600;
    text-decoration: none;
    margin-left: 10px;
}

.contacts_ref {
    display: flex;
    align-items: center;
}

#contacts_upper {
    margin-bottom: 24px;

}

footer {
    padding: 32px 16px;
    background-color: #F2F4F7;

}

footer p {
    color: #1A1E42;
    font-size: 1.6rem;
    margin-top: 24px;
}


.container4_buttonwrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont_2_button_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.upper_footer h4 {
    color: #1A1E42;
    font-size: 3rem;
    font-family: "Montserrat", sans-serif;
}

.grid_footer_1 {
    padding-top: 24px;
    padding-bottom: 24px;
    display: grid;
    font-size: 1.6rem;
    color: #475467;
    gap: 16px;
}

.grid_footer_1 a {
    text-decoration: none;
    font-size: 1.6rem;
    color: #475467;
    font-weight: bold;
}

.footer_line {
    border-top: 1px solid #D0D5DD;
    margin-top: 40px;
    margin-bottom: 32px;
}

.footer_right_photo {
    margin-left: 40px;
}

.upper_footer p {
    font-size: 1.6rem;
    color: #98A2B3;

}

.container_3_main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container_3 {
    order: 1;

}

#koshelek2 {
    order: 2;

}







@media screen and (min-width:550px) {
    header {

        padding: 18px 45px;
    }

    .container_1 {
        padding: 40px 45px;
    }

    .container_2 {
        padding: 60px 45px;
    }

    .container_3 {
        padding: 60px 45px;
    }

    .container_4 {
        padding: 60px 45px;
    }

    .container_5 {
        padding: 60px 45px;
        padding-right: 0;

    }

    .container_5 h4 {

        margin-right: 45px;
    }

    .container_5 hr {
        margin-right: 45px;
    }

    .container_5 span {
        margin-right: 45px;
    }

    .container5_button {
        margin-right: 45px;
    }

    .container_6 {
        padding: 60px 45px;
    }

    .container_7 {
        padding: 60px 45px;
    }

    .container_8 {
        padding: 60px 45px;
    }

    .container_9 {
        padding: 60px 45px;
    }

    footer {
        padding: 32px 45px;
    }

    #left_starcard {
        margin-right: 40px;
        margin-left: 40px;
    }

    .grid_2_stock {
        padding: 40px 45px;
    }

    .container1_unlock_wallet {
        width: auto;
    }

    .container2_Unlock_wallet_card {
        width: auto;
    }

    .container4_Unlock_wallet_card {
        width: auto;
    }

    .container5_button {
        width: auto;
    }

    .container_6_button {
        width: auto;
    }
}

@media screen and (min-width:650px) {
    header {

        padding: 18px 55px;
    }

    .container_1 {
        padding: 40px 55px;
    }

    .container_2 {
        padding: 60px 55px;
    }

    .container_3 {
        padding: 60px 55px;
    }

    .container_4 {
        padding: 60px 55px;
    }

    .container_5 {
        padding: 60px 55px;
        padding-right: 0;

    }

    .container_5 h4 {

        margin-right: 55px;
    }

    .container_5 hr {
        margin-right: 55px;
    }

    .container_5 span {
        margin-right: 55px;
    }

    .container5_button {
        margin-right: 55px;
    }

    .container_6 {
        padding: 60px 55px;
    }

    .container_7 {
        padding: 60px 55px;
    }

    .container_8 {
        padding: 60px 55px;
    }

    .container_9 {
        padding: 60px 55px;
    }

    footer {
        padding: 32px 55px;
    }

    #left_starcard {
        margin-right: 40px;
        margin-left: 40px;
    }

    .grid_2_stock {
        padding: 40px 55px;
    }


}

@media screen and (min-width:750px) {
    header {

        padding: 18px 70px;
    }

    .container_1 {
        padding: 40px 70px;
    }

    .container_2 {
        padding: 60px 70px;
    }

    .container_3 {
        padding: 60px 70px;
    }

    .container_4 {
        padding: 60px 70px;
    }

    .container_5 {
        padding: 60px 70px;
        padding-right: 0;

    }

    .container_5 h4 {

        margin-right: 70px;
    }

    .container_5 hr {
        margin-right: 70px;
    }

    .container_5 span {
        margin-right: 70px;
    }

    .container5_button {
        margin-right: 70px;
    }

    .container_6 {
        padding: 60px 70px;
    }

    .container_7 {
        padding: 60px 70px;
    }

    .container_8 {
        padding: 60px 70px;
    }

    .container_9 {
        padding: 60px 70px;
    }

    footer {
        padding: 32px 70px;
    }

    #left_starcard {
        margin-right: 70px;
        margin-left: 70px;
    }

    .grid_2_stock {
        padding: 40px 70px;
    }
}

@media screen and (min-width:850px) {
    header {

        padding: 18px 80px;
    }

    .container_1 {
        padding: 40px 80px;
    }

    .container_2 {
        padding: 60px 80px;
    }

    .container_3 {
        padding: 60px 80px;
    }

    .container_4 {
        padding: 60px 80px;
    }

    .container_5 {
        padding: 60px 80px;
        padding-right: 0;

    }

    .container_5 h4 {

        margin-right: 80px;
    }

    .container_5 hr {
        margin-right: 80px;
    }

    .container_5 span {
        margin-right: 80px;
    }

    .container5_button {
        margin-right: 80px;
    }

    .container_6 {
        padding: 60px 80px;
    }

    .container_7 {
        padding: 60px 80px;
    }

    .container_8 {
        padding: 60px 80px;
    }

    .container_9 {
        padding: 60px 80px;
    }

    footer {
        padding: 32px 80px;
    }

    #left_starcard {
        margin-right: 80px;
        margin-left: 80px;
    }

    .grid_2_stock {
        padding: 40px 80px;
    }
}

@media screen and (min-width: 1000px) {
    .container_6_grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .mobile_hidden {
        display: flex;
    }

    .pc_hidden {
        display: none;

    }

    .lang_button {
        border: 0;
        background-color: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container_6_card {
        max-width: 410px;
    }

    .container1_grid_wallets {
        grid-template-columns: repeat(3, 1fr);
    }

    .container_2 {
        padding: 80px 40px;
    }

    .container_4 {
        padding: 80px 40px;
    }

    .fix_centered {
        display: flex;
        justify-content: center;
    }

    .container4_grid_1 {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;
        margin-bottom: 60px;
        gap: 48px;
    }

    .container4_grid_second {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .container2_grid_1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .container_first {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container_1 {
        max-width: 50%;
        padding: 40px 40px;
        order: 1;

    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img_right_1 {
        order: 2;
        padding-top: 30px;
        padding-left: 50px;

    }

    .img_right_1 img {
        width: 400px;


    }

    .container1_unlock_wallet {
        max-width: 253px;
    }

    .cont2_textwrapper {
        width: 700px;
    }

    .container2_Unlock_wallet_card {
        max-width: 253px;

    }

    .container4_Unlock_wallet_card {
        max-width: 253px;
    }

    .grid_2_stock {
        grid-template-columns: repeat(6, 1fr);
        padding-left: 40px;
        padding-right: 40px;

    }

    .grid_footer_1 {
        max-width: 850px;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(min-content, max-content);
    }

    .grid_footer_1 a {
        white-space: nowrap;
    }

    .container4_grid_item {
        display: flex;
        flex-direction: row;
    }

    .number {
        margin-right: 20px;

    }

    .footer_right {
        display: flex;
        align-items: center;

    }

    #left_starcard {
        margin: 40px;
    }

    .footer_right p {
        margin: 0;
        text-align: center;
        width: 100%;

    }

    .footer_left_photo {
        display: flex;
        align-items: center;
        margin-right: auto;

    }

    .footer_right_photo {
        margin-left: 20px;

    }

    .nav_button {
        display: none;
    }

    .nav_hidden {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 32px;
        padding-left: 30px;
    }

    .language {
        margin-left: 20px;
    }

    .nav_hidden a {
        text-decoration: none;
        color: #667085;
        font-size: 1.6rem;
    }

    header {
        display: flex;
        padding-left: 20px;
        padding-right: 20px;
        justify-content: center;
    }

    .language {
        display: flex;
        justify-content: center;
        align-items: center;


    }


    .lang_button {
        font-size: 1.6rem;
        font-weight: 600;
        color: #667085;

    }

    .header_right {
        display: flex;
        margin-left: auto;

    }

    .start_now {
        display: flex;
        padding: 10px 24px;
        margin-left: 24px;
        align-items: center;
        background-color: #FFFFFF;
        font-size: 1.6rem;
        font-weight: bold;
        color: #1A1E42;
        border: 1px solid #1A1E42;
        border-radius: 4px;


    }

    .upper_footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer_raiting {
        margin: 0;
        margin-left: auto;
        align-self: center;
    }

    .footer_column {
        display: flex;
        flex-direction: column;
    }

    footer {
        padding: 32px 40px;

    }

    footer p {
        margin-top: 0px;
    }

    .container_3_main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 80px 40px;
    }

    .container_3 {
        order: 2;
        padding: 0;
        margin-left: 60px;
    }


    #koshelek2 {
        order: 1;
        margin-bottom: 0;
        width: 400px;
    }


    .contacts {
        display: flex;
        align-items: center;
        padding: 60px;
    }

    .contacts_avatar {

        width: 220px;
        height: 220px;
        margin: 0;
        margin-right: 20px;
    }

    .contacts_info {
        text-align: left;
    }

    .contacts_line {
        display: flex;
        align-items: center;
    }

    .contacts_ref {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .container_9 {
        padding: 80px 40px;
        padding-bottom: 96px;

    }

    #contacts_upper {
        margin: 0;
    }

    .container_8 {
        display: flex;
        flex-direction: row;
        padding: 80px 40px;
    }

    .container_8_askcard {
        margin-left: 48px;
    }

    .container_8_button_grid {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);

    }

    .container_8_askcard {
        padding: 32px;
        width: 400px;


    }

    .container_8_button_grid button {
        padding: 16px 8px;

    }

    #steps {
        width: 336px;
    }

    .footer_contacts_img {
        display: flex;
        gap: 24px;
        width: 203px;
    }

    .container_5 {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 25%;
        padding-right: 0px;
    }

    .container_6 {
        padding: 80px 40px;
    }

    .container_6_button {
        width: auto;
    }

    .container5_button {
        margin-right: 40px;
        width: auto;

    }



    .star_card {
        height: 350px;
        width: 500px;
        min-width: 500px;
        margin-right: 0;
    }


    .container_5 hr {
        margin-right: 40px;
    }

    .container_5 h4 {
        margin-right: 40px;
    }

    .container_5 span {
        margin-right: 40px;
    }

    details {
        width: 780px;
    }

    .button_right {
        display: inline;
        margin-right: 48px;
        margin-left: 48px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .button_left {
        display: inline;
        margin-right: 48px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .fix_width {
        display: flex;
    }

}

@media screen and (min-width: 1440px) {
    .container_6_grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .container_6_card {
        max-width: 410px;
    }

    .container1_grid_wallets {
        grid-template-columns: repeat(3, 1fr);
    }

    .container_2 {
        padding: 80px;
    }

    .container_4 {
        padding: 80px;
    }

    .container4_grid_1 {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 60px;
        margin-bottom: 60px;
        gap: 48px;
    }

    .container4_grid_second {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .container2_grid_1 {
        grid-template-columns: repeat(3, 1fr);
    }

    .container_first {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container_1 {
        max-width: 50%;
        padding: 40px 80px;
        order: 1;

    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .img_right_1 {

        order: 2;
        padding-top: 30px;
        padding-left: 50px;

    }

    .img_right_1 img {
        width: 537px;
        height: 615px;


    }

    .container1_unlock_wallet {
        max-width: 253px;
    }

    .cont2_textwrapper {
        width: 700px;
    }

    .container2_Unlock_wallet_card {
        max-width: 253px;

    }

    .container4_Unlock_wallet_card {
        max-width: 253px;
    }

    .grid_2_stock {
        grid-template-columns: repeat(6, 1fr);
        padding-left: 60px;
        padding-right: 60px;

    }

    .grid_footer_1 {
        max-width: 850px;
        grid-template-columns: repeat(8, 1fr);
        grid-auto-rows: minmax(min-content, max-content);
    }

    .grid_footer_1 a {
        white-space: nowrap;
    }

    .container4_grid_item {
        display: flex;
        flex-direction: row;
    }

    .number {
        margin-right: 20px;

    }

    .footer_right {
        display: flex;
        align-items: center;

    }

    .footer_right p {
        margin: 0;
        text-align: center;
        width: 100%;

    }

    .footer_left_photo {
        display: flex;
        align-items: center;
        margin-right: auto;

    }

    .footer_right_photo {
        margin-left: 20px;

    }

    .nav_button {
        display: none;
    }

    .nav_hidden {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 32px;
        padding-left: 48px;
    }

    .nav_hidden a {
        text-decoration: none;
        color: #667085;
        font-size: 1.6rem;
    }

    header {
        padding-left: 80px;
        padding-right: 80px;


    }

    .language {
        display: flex;
        justify-content: center;
        align-items: center;


    }

    .language p {
        font-size: 1.6rem;
        font-weight: 600;
        color: #667085;
    }

    .start_now {
        display: flex;
        padding: 10px 24px;
        margin-left: 24px;
        background-color: #FFFFFF;
        font-size: 1.8rem;
        font-weight: bold;
        color: #1A1E42;
        border: 1px solid #1A1E42;
        border-radius: 4px;


    }

    .upper_footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .footer_raiting {
        margin: 0;
        margin-left: auto;
        align-self: center;
    }

    .footer_column {
        display: flex;
        flex-direction: column;
    }

    footer {
        padding: 32px 80px;

    }

    footer p {
        margin-top: 0px;
    }

    .container_3_main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 80px;

    }

    .container_3 {
        order: 2;
        padding: 0;
        margin-left: 60px;
    }


    #koshelek2 {
        order: 1;
        margin-bottom: 0;
        width: 626px;
        height: 636px;
    }


    .contacts {
        display: flex;
        align-items: center;
        padding: 60px;
    }

    .contacts_avatar {
        width: 220px;
        height: 220px;
        margin: 0;
        margin-right: 20px;
    }

    .contacts_info {
        text-align: left;
    }

    .contacts_line {
        display: flex;
        align-items: center;
    }

    .contacts_ref {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    .container_9 {
        padding: 80px;
        padding-bottom: 96px;

    }

    #contacts_upper {
        margin: 0;
    }

    .container_8 {
        display: flex;
        flex-direction: row;
        padding: 80px;
    }

    .container_8_askcard {
        margin-left: 48px;
    }

    .container_8_button_grid {
        display: grid;
        gap: 24px;
        grid-template-columns: repeat(2, 1fr);

    }

    .container_8_askcard {
        padding: 32px;
        width: 616px;
        height: 314px;

    }

    .fix_cont_8 {
        display: flex;

    }

    .container_8_button_grid button {
        padding: 16px 8px;

    }

    #steps {
        width: 552px;
    }

    .footer_contacts_img {
        display: flex;
        gap: 24px;
        width: 203px;
    }

    .container_5 {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 25%;
        padding-right: 0px;
    }

    .container_6 {
        padding: 80px;
    }

    .container_6_button {
        width: auto;
    }

    .container5_button {
        margin-right: 306px;
        width: auto;

    }



    .star_card {
        height: 320.5px;
        width: 700px;
        min-width: 700px;
        margin-right: 0;
    }


    .container_5 hr {
        margin-right: 306px;
    }

    .container_5 h4 {
        margin-right: 306px;
    }

    .container_5 span {
        margin-right: 306px;
    }

    details {
        width: 780px;
    }

    .button_right {
        display: inline;
        margin-right: 48px;
        margin-left: 48px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .button_left {
        display: inline;
        margin-right: 48px;
        padding: 0;
        border: none;
        background-color: transparent;
        cursor: pointer;
    }

    .container_first {
        display: flex;
        justify-content: center;
    }

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .fix_width {

        display: flex;
    }

}

@media screen and (min-width: 1600px) {
    .fix_centered {
        max-width: 1440px;
        min-width: 1440px;

    }

    .fix_big_width {
        max-width: 1440px;
        min-width: 1440px;
    }

    .container_4 {
        display: flex;
        justify-content: center;
    }

    .fix_cont_8 {
        display: flex;
        min-width: 1440px;
        max-width: 1440PX;
    }

    .container_8 {
        display: flex;
        justify-content: center;
    }

    .fix_center_cont_2 {
        display: flex;
        flex-direction: column;
        max-width: 1440px;
        min-width: 1440px;
    }

    .container_2 {
        display: flex;
        justify-content: center;
    }

    .fix_width {
        max-width: 1440px;
        min-width: 1440px;
        display: flex;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .grid_2_stock {
        padding: 40px 0px;
        max-width: 1440px;
        min-width: 1440px;
    }

    .grid_line {
        display: flex;
        justify-content: center;
    }

    .container_3_main {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 80px 0px;
        max-width: 1440px;
        min-width: 1440px;

    }

    .container_3_fixed {
        display: flex;
        justify-content: center;
    }

    .contacts {
        max-width: 1440px;
        min-width: 1440px;
    }

    .container_9 {
        display: flex;
        justify-content: center;
    }

    .fix_footer {
        max-width: 1440px;
        min-width: 1440px;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    .header_right {
        margin-left: auto;
    }
}